__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
*.tmp
*.partial
**/preprocess/.internal/
Thumbs.db
test_cases/**/preprocess/
test_runs/
acceptance_tests/
bsuite_runs/
*.slp
*.mp4
*.avi
*.npz
